.modal {
   
    position: fixed;
    top: 50%;
    left: calc(50% - 20rem);
    width: 40rem;
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  .modal__actions {
    text-align: right;
  }
  
  .modal__actions button {
    margin: 0.5rem 0;

}


    

